@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9216%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9216%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --primary: 237.7640 70.3057% 44.9020%;
  --primary-foreground: 0 0% 100%;
  --secondary: 237.7640 70.3057% 44.9020%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 96.0784%;
  --muted-foreground: 0 0% 39.2157%; /* #646464 - WCAG AA compliant contrast ratio 4.58:1 */
  --accent: 0 0% 96.0784%;
  --accent-foreground: 0 0% 9.0196%;
  --destructive: 357.1429 100% 45.2941%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 89.8039%;
  --input: 0 0% 89.8039%;
  --ring: 0 0% 63.1373%;
  --chart-1: 211.6364 100% 78.4314%;
  --chart-2: 217.3404 91.2621% 59.6078%;
  --chart-3: 221.5842 86.3248% 54.1176%;
  --chart-4: 223.7500 78.6885% 47.8431%;
  --chart-5: 226.4789 69.6078% 40%;
  --sidebar: 0 0% 98.0392%;
  --sidebar-foreground: 0 0% 3.9216%;
  --sidebar-primary: 0 0% 9.0196%;
  --sidebar-primary-foreground: 0 0% 98.0392%;
  --sidebar-accent: 0 0% 96.0784%;
  --sidebar-accent-foreground: 0 0% 9.0196%;
  --sidebar-border: 0 0% 89.8039%;
  --sidebar-ring: 0 0% 63.1373%;
  --font-sans: Geist, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Inter, sans-serif;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 0 0% 98.0392%;
  --card: 0 0% 9.0196%;
  --card-foreground: 0 0% 98.0392%;
  --popover: 0 0% 14.9020%;
  --popover-foreground: 0 0% 98.0392%;
  --primary: 0 100% 60%;
  --primary-foreground: 0 0% 0%;
  --secondary: 0 100% 45.0980%;
  --secondary-foreground: 0 0% 98.0392%;
  --muted: 0 0% 14.9020%;
  --muted-foreground: 0 0% 63.1373%;
  --accent: 0 0% 25.0980%;
  --accent-foreground: 0 0% 98.0392%;
  --destructive: 61.0651 80.8612% 40.9804%;
  --destructive-foreground: 0 0% 98.0392%;
  --border: 0 0% 15.6863%;
  --input: 0 0% 20.3922%;
  --ring: 0 0% 45.0980%;
  --chart-1: 211.6364 100% 78.4314%;
  --chart-2: 217.3404 91.2621% 59.6078%;
  --chart-3: 221.5842 86.3248% 54.1176%;
  --chart-4: 223.7500 78.6885% 47.8431%;
  --chart-5: 226.4789 69.6078% 40%;
  --sidebar: 0 0% 9.0196%;
  --sidebar-foreground: 0 0% 98.0392%;
  --sidebar-primary: 225.4286 84.0000% 49.0196%;
  --sidebar-primary-foreground: 0 0% 98.0392%;
  --sidebar-accent: 0 0% 14.9020%;
  --sidebar-accent-foreground: 0 0% 98.0392%;
  --sidebar-border: 0 0% 15.6863%;
  --sidebar-ring: 0 0% 32.1569%;
  --font-sans: Geist, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Inter, sans-serif;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}